    </div><!-- end banner -->
  </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Brought to you by <a href="http://www.sensetecnic.com">Sense Tecnic Systems</a>.</p>
      </div>
    </footer>

</body>

<script>
$(function() {
	$(".moment").each(function () {
		var self = $(this);	
		if (self.text() !== "") {
      self.text(moment(self.text()).fromNow());
    }
    else {
      console.log('Time unknown for element', self)
    }
	});

});
</script>

</html>