{{>_header}}

  <div class="container main-content">
    <div class="row">
      <div class="col-sm-10">
        <h2 class="pagetitle">Flow Library</h2>
        <p class="lead">Share your flows and see what other people have done with Node-RED.</p>
      </div>
      <div class="col-sm-2" style="padding-top: 30px; text-align: right;">
        <a href="/add" class="btn btn-primary">Add a flow</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <h3>Recently Added</h3>
        <ul>{{#recentGists}}{{>_gistlist}}{{/recentGists}}
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Popular Tags</h3>
        <ul>{{#popularTags}}{{>_taglist}}{{/popularTags}}
        </ul>
      </div>
    </div>
  </div>
  
{{>_footer}}