{{>_header}}
  <script src="/js/jqcloud.min.js"></script>
  
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h2 class="pagetitle">Flow Library</h2>
          <p class="lead">Share your flows and see what other people have done with Node-RED.</p>
        </div>
        <div class="col-sm-2" style="padding-top: 30px; text-align: right;">
            <a href="/add" class="btn btn-primary">Add a flow</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-content page-index">
    <div class="row">
      <div class="col-sm-6">
        <h3>Featured Flows</h3>
        <div id="feature-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#feature-carousel" data-slide-to="1"></li>
            <li data-target="#feature-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active" style="background: url('/images/featured/feature1f.jpg')">
              <a href="/flow/e2b04dbcbcb39a56743b">
                <div class="carousel-caption">Lions Gate Bridge Traffic</div>
              </a>
              
            </div>
            <div class="item" style="background: url('/images/featured/feature2f.jpg')">
              <a href="/flow/bd798ec8370f03c693d0">
                <div class="carousel-caption">Aviation Weather Feed</div>
              </a>
            </div>
            <div class="item" style="background: url('/images/featured/feature3f.jpg')">
              <a href="/flow/707ba22eff3eaf91e09f">
                <div class="carousel-caption">UK Electricity Demand</div>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="search">
          <div class="searchbox">
            <form id="searchform" action="/search">
              <input type="text" name="s" placeholder="Search flows" {{#search}}value="{{.}}"{{/search}}>
              <a id="dosearch" href="#"><i class="fa fa-search"></i></a>
            </form>
            <script>$("#dosearch").on('click',function(e){e.preventDefault(); $("#searchform").submit();});</script>
          </div>
        </div>
        <ul id="tag-list"></ul>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">
        <h3>Recently Added</h3>
        <ul class="gist-list condensed">{{#recentGists}}{{>_gistlist_condensed}}{{/recentGists}}</ul>
        <a href="/search">Browse more flows</a>
      </div>
      <div class="col-sm-6">
        <h3>Highest Rated</h3>
        <ul class="gist-list condensed">{{#highestRatedGists}}{{>_gistlist_condensed}}{{/highestRatedGists}}</ul>
      </div>
    </div>


  </div>

<script>

$(function() {
  // build the tag cloud
  var tags = [
    {{#popularTags}}
      {
        text: '{{_id}}', 
        weight: {{count}},
        link: '/tag/{{_id}}'
      },
    {{/popularTags}}
  ];
  $("#tag-list").jQCloud(tags);

  // sprinkles in stars for ratings
  $(".rate-value").each(function () {
    var rating = $(this).find('span').text();
    var rating_floor = Math.floor(rating)
    var starsList = $(this).siblings(".rate-stars");

    if (rating == 0){
      $(this).hide();
      starsList.append('<span>Not rated</span>')
    }
    else {
      for (var i=0; i<rating_floor; i++) {
        starsList.append('<i class="fa fa-star"></i>');
      }
      if (rating_floor != rating) { //check for half points
        starsList.append('<i class="fa fa-star-half-o"></i>');
      }
      for (var i=0; i<(5-Math.ceil(rating)); i++) {
        starsList.append('<i class="fa fa-star-o"></i>');
      }
    }
  });
});
</script>



{{>_footer}}
