{{>_header}}
  <div class="container main-content">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="pagetitle">Search: {{search}}</h3>
      </div>
    </div>
    <div class="row">
      <div id="readme" class="col-sm-12">
      <ul class="gist-list">
      {{#gists}}
        <li>
            <a href="#" class="gist-owner"
              style="background: url('http://www.gravatar.com/avatar/3136d622aa736cc0a77efba81a18af64?s=35');">
            </a>
            <a class="gist-title" href="/flow/{{id}}">{{title}}</a>
            <p class="gist-created">Created <span class="moment">{{created_at}}</span> by {{owner}}</span>
            <p class="gist-description">{{description}}</p>

            <span class=""></span>

            <ul class="gist-tags">
              {{#tags}}<li><a>{{.}}</a></li>{{/tags}}
            </ul>
            <ul class="gist-footer">
              <li class="gist-updated moment"><i class="fa fa-refresh"></i>Updated 30 min ago{{updated_at}}</li>
              <li class="gist-comments"><i class="fa fa-comments"></i>12 Comments</li>
            </ul>
        </li>
      {{/gists}}
      </ul>
      </div>
    </div>
  </div>
{{>_footer}}
