{{>_header}}
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 search"> 
          <div class="pagetitle lead search-title">Search: </div>
          <div class="searchbox">
            <form id="searchform" action="/search">
              <input type="text" name="s" placeholder="search" {{#search}}value="{{.}}"{{/search}}>
              <a id="dosearch" href="#"><i class="fa fa-search"></i></a>
            </form>
            <script>$("#dosearch").on('click',function(e){e.preventDefault(); $("#searchform").submit();});</script>
          </div>

          <h3 class="pagetitle lead pull-right">{{hitString}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-content page-search">
    <div class="row">
      <div class="col-sm-12">
        <div class="search-toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <b>Sort:</b> {{orderByString}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/search?s={{search}}&orderBy=created_at&dir=desc">Newest</a></li>
              <li><a href="/search?s={{search}}&orderBy=created_at&dir=asc">Oldest</a></li>
              <li><a href="/search?s={{search}}&orderBy=owner&dir=asc">Owner ascending</a></li>
              <li><a href="/search?s={{search}}&orderBy=owner&dir=desc">Owner descending</a></li>
              <li><a href="/search?s={{search}}&orderBy=updated_at&dir=desc">Recently updated</a></li>
              <li><a href="/search?s={{search}}&orderBy=updated_at&dir=asc">Least recently updated</a></li>
              <li><a href="/search?s={{search}}&orderBy=ratings_avg&dir=desc">Highest rated</a></li>
              <li><a href="/search?s={{search}}&orderBy=ratings_avg&dir=asc">Least highest rated</a></li>
              <!-- 
              <li><a href="/search?s={{search}}&orderBy=comments&dir=desc">Most commented</a></li>
              <li><a href="/search?s={{search}}&orderBy=comments&dir=asc">Least commented</a></li>
              -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="readme" class="col-sm-12">
      <ul class="gist-list">
      {{#gists}}
        {{>_gistlist}}
      {{/gists}}
      </ul>
      </div>
    </div>
  </div>
{{>_footer}}


<script>
$(function() {
  loadRatings();
});
</script>