{{>_header}}
  
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="pagetitle"><img src="{{ user.avatar_url }}"/><div class="userinfo">{{ user.name }} <div class="flowuser">{{ user.login }}</div></div></h2>
          <p class="lead"><!-- empty filler for now --></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-content">
    <div class="row">
      <div id="readme" class="col-sm-12">
        <h3 class="pagetitle">Flows created:</h3>
        <ul>
          {{#gists}}
          <!-- TODO: this needs to use the gist template-->
          <li><a href="/flow/{{id}}">{{description}}</a></li>
          {{/gists}}
        </ul>
      </div>
    </div>
  </div>
{{>_footer}}
