html, body {
  height: 100%; }

ul {
  list-style: none;
  padding: 0; }

.clear {
  clear: both; }

#wrapper {
  min-height: 100%;
  /*sticky footer*/ }

.content {
  overflow: auto;
  /*sticky footer*/
  padding-bottom: 60px; }

.main-content {
  padding-bottom: 150px; }

.banner {
  margin-top: 50px;
  margin-bottom: 15px;
  background: #eee;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.075) inset; }

.lead {
  color: #666; }

.footer {
  position: relative;
  /*sticky footer*/
  margin-top: -60px;
  height: 60px;
  clear: both;
  width: 100%;
  background-color: #f5f5f5; }
  .footer .container .text-muted {
    margin: 20px 0; }

.brand, h1, h2, h3, h4, h5 {
  /*    font-family: 'Roboto Slab', serif;
      text-shadow: none;*/ }

a.navbar-brand {
  padding: 5px 15px; }

.nav .login {
  padding: 7px 0 7px 15px; }
  .nav .login .signin {
    margin-top: 4px;
    padding: 5px;
    line-height: 12px; }
  .nav .login i {
    font-size: 1.4em;
    vertical-align: middle; }
  .nav .login > a {
    padding: 0px 5px;
    display: inline-block; }

.navbar-project.navbar-brand {
  padding: 15px; }

.searchbox {
  max-width: 500px;
  position: relative; }

.search input {
  border: 0px;
  border-bottom: 1px solid #aaa;
  background: transparent;
  padding: 0 30px 0 3px;
  font-size: 1.5em;
  color: #666;
  outline: 0;
  width: 100%; }
.search a {
  color: #aaa;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 1px; }
  .search a i {
    font-size: 1.5em; }
  .search a:hover {
    color: #676767; }

/* Index page
 ----------------------------------------------------------------------------*/
.page-index {
  margin-top: -15px; }
  .page-index .search {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px; }
    .page-index .search .searchbox {
      max-width: 100%; }
      .page-index .search .searchbox #searchform {
        font-size: 1.2em; }
  .page-index #tag-list {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    color: #09f;
    margin: 20px 0 10px 0; }
    .page-index #tag-list a {
      font-size: inherit;
      text-decoration: none; }
    .page-index #tag-list span.w10 {
      font-size: 550%; }
    .page-index #tag-list span.w9 {
      font-size: 500%; }
    .page-index #tag-list span.w8 {
      font-size: 450%; }
    .page-index #tag-list span.w7 {
      font-size: 400%; }
    .page-index #tag-list span.w6 {
      font-size: 350%; }
    .page-index #tag-list span.w5 {
      font-size: 300%; }
    .page-index #tag-list span.w4 {
      font-size: 250%; }
    .page-index #tag-list span.w3 {
      font-size: 200%; }
    .page-index #tag-list span.w2 {
      font-size: 150%; }
    .page-index #tag-list span.w1 {
      font-size: 100%; }
    .page-index #tag-list a {
      color: inherit; }
    .page-index #tag-list a:hover {
      color: #c4213c; }
    .page-index #tag-list span.w10 {
      color: #981a2f; }
    .page-index #tag-list span.w9 {
      color: #8a2738; }
    .page-index #tag-list span.w8 {
      color: #723b46; }
    .page-index #tag-list span.w7 {
      color: #67444d; }
    .page-index #tag-list span.w6 {
      color: #5e4d53; }
    .page-index #tag-list span.w5 {
      color: #595357; }
    .page-index #tag-list span.w4 {
      color: #545559; }
    .page-index #tag-list span.w3 {
      color: #64676a; }
    .page-index #tag-list span.w2 {
      color: #c28716; }
    .page-index #tag-list span.w1 {
      color: #d89719; }
    .page-index #tag-list span {
      padding: 0; }
  .page-index #feature-carousel {
    /*border-radius: 4px;*/
    overflow: hidden;
    height: 180px; }
    .page-index #feature-carousel .carousel-indicators {
      bottom: -3px; }
    .page-index #feature-carousel .carousel-inner {
      height: 100%; }
      .page-index #feature-carousel .carousel-inner .item {
        /*background-size: cover !important;*/
        background-position: 50% 50% !important;
        height: 100%;
        width: 100%; }
        .page-index #feature-carousel .carousel-inner .item > a {
          display: block;
          height: 100%; }
          .page-index #feature-carousel .carousel-inner .item > a .carousel-caption {
            background: rgba(0, 0, 0, 0.6);
            padding: 6px 10px;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 1.2em;
            text-align: left; }

/* gist page
 ----------------------------------------------------------------------------*/
.page-gist .rating-ctrl {
  display: none;
  text-align: center;
  padding: 5px 0 25px;
  cursor: pointer; }
  .page-gist .rating-ctrl.active {
    display: block; }
  .page-gist .rating-ctrl > i {
    font-size: 2em;
    margin-left: 5px;
    color: #EAC117; }
.page-gist .gist-ratings {
  text-align: center;
  display: none; }
  .page-gist .gist-ratings.active {
    display: block; }
  .page-gist .gist-ratings i {
    font-size: 2em;
    margin-left: 5px;
    color: #EAC117; }
  .page-gist .gist-ratings .rate-value {
    color: #666; }

/* search page 
 ----------------------------------------------------------------------------*/
.banner .search {
  padding: 15px; }
  .banner .search .lead {
    margin: 0; }
  .banner .search .search-title {
    font-size: 1.6em;
    margin-bottom: 0px;
    margin-right: 10px; }
  .banner .search .searchbox, .banner .search .search-title {
    display: inline-block;
    vertical-align: middle; }

.search-toolbar {
  margin-bottom: 15px; }

ul.gist-list {
  padding: 0px; }
  ul.gist-list > li {
    position: relative;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    overflow: hidden; }
    ul.gist-list > li > .gist-description {
      font-size: 1.4em; }
    ul.gist-list > li .gist-readme {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    ul.gist-list > li .gist-created {
      color: #999 !important;
      font-size: 0.85em;
      display: block;
      margin-bottom: 5px; }
    ul.gist-list > li .gist-tags {
      max-height: 34px;
      margin-right: 400px;
      overflow: hidden; }
      ul.gist-list > li .gist-tags > li {
        display: inline-block;
        margin-right: 5px; }
        ul.gist-list > li .gist-tags > li > a {
          /*          text-decoration: none;
                    cursor: pointer;
                    border-radius: 4px;
                    background: #c0c0c0;
                    color: #fff;
                    padding: 2px 4px;
                    border: 1px solid #aaa;
          
                    &:hover {
                      background: #a0a0a0;
                    }*/ }
    ul.gist-list > li .flow-tags {
      padding: 0px; }
    ul.gist-list > li .gist-owner {
      float: right;
      height: 35px;
      width: 35px;
      border-radius: 4px;
      overflow: hidden;
      background-position: 50% 50%;
      background-size: cover !important; }
    ul.gist-list > li .gist-footer {
      position: absolute;
      bottom: -5px;
      right: 0;
      color: #999;
      background: #eee;
      font-size: 0.85em;
      border-top: 1px solid #ddd;
      border-top-left-radius: 4px; }
      ul.gist-list > li .gist-footer > li {
        display: inline-block;
        padding: 4px;
        border-left: 1px solid #ddd;
        text-align: center; }
        ul.gist-list > li .gist-footer > li.gist-updated {
          width: 180px;
          overflow: hidden;
          border-top-left-radius: 4px; }
        ul.gist-list > li .gist-footer > li.gist-comments {
          width: 110px;
          overflow: hidden; }
        ul.gist-list > li .gist-footer > li i {
          margin-right: 4px; }
        ul.gist-list > li .gist-footer > li.gist-ratings {
          width: 130px;
          float: right; }
          ul.gist-list > li .gist-footer > li.gist-ratings .rate-stars {
            display: inline-block; }
  ul.gist-list.condensed > li {
    padding: 10px 10px; }
    ul.gist-list.condensed > li .gist-description {
      font-size: 1em; }
    ul.gist-list.condensed > li .gist-created {
      margin-bottom: 30px; }
    ul.gist-list.condensed > li .gist-footer {
      border-top-left-radius: 0px;
      font-size: 0.85em;
      bottom: 0;
      left: 0;
      background: #f6f6f6;
      width: 100%; }
      ul.gist-list.condensed > li .gist-footer > li {
        border-left: 0px;
        padding: 3px 10px;
        float: left; }
        ul.gist-list.condensed > li .gist-footer > li.gist-ratings, ul.gist-list.condensed > li .gist-footer > li.gist-updated, ul.gist-list.condensed > li .gist-footer > li.gist-comments {
          width: auto; }
        ul.gist-list.condensed > li .gist-footer > li.gist-ratings {
          float: right; }
    ul.gist-list.condensed > li .gist-readme {
      padding-right: 60px; }

@media (max-width: 768px) {
  .nav li > a {
    text-align: right; }
  .nav .login {
    padding-right: 15px; }

  ul.gist-list {
    padding: 0px; }
    ul.gist-list > li {
      padding: 10px; }
      ul.gist-list > li .gist-tags {
        margin-bottom: 20px;
        margin-right: 0px; }
      ul.gist-list > li .gist-footer {
        width: 100%;
        bottom: -5px;
        border-top-left-radius: 0; }
        ul.gist-list > li .gist-footer > li.gist-updated {
          padding: 3px 10px;
          width: auto; } }
